@media (max-width: 1024px) {
  .uber-cont h3 {
    font-size: 32px;
}
.uber-cont p {
  color: #fff;
  font-size: 16px;
}
.uber-cont {
  top: -40px;}
  .img-ube {
    position: relative;
    bottom: 190px;
}
.col-md-6.uber-cont-col-6 {
  flex: 0 0 50%!important;
  max-width: 50%!important;
}
}
@media (max-width: 768px) {
  /* .uber-imagenes {
    display: none;
  } */
  /* section.uber {
    background: #e3001b;
    margin-top: 130px;
  } */
  .uber-cont p {
    text-align: justify;
  }
  .col-md-6.uber-cont-col-6 {
    flex: 0 0 100%!important;
    max-width: 100%!important;
  }
  .uber-cont h3 {
    text-align: center;
  }
  /* section.uber {
    border-radius: 80px 80px 0 0;
} */
img.img-ube-ola {
  position: relative;
}
img.img-ube-telefono {
  display: none;
}
section.uber {
  height: 100px;
}
.uber-cont {
  top: -35px;
}
section.uber {
  margin-top: 40px!important;
}
.footer h5 {
  font-size: 25px;
}
}

@media (max-width: 425px) {
  img.img-ube-ola {
    position: relative;
    height: 320px;
  }
  .uber-cont p {
    color: #000;
    font-size: 15px;
}
.uber-cont {
  height: 100px;
  top: -28px;
}

.container.container-footer {
  padding-top: 200px;
  text-align: center;
}
.rs {
  justify-content: center;
}
.prod-relacionado {
  width: 100%;
}
}
@media (max-width: 425px) {
.uber-cont h3 {
    font-size: 25px;
}
.cont-prom-comilandia-info {
  width: 100%;
}
.cont-prom-comilandia-info {
  padding: 50px;
}
.col-md-6.prom-prin {
  display: flex;
  width: -webkit-fill-available;
  height: 500px;
}
.footer p {
  color: #fff;
  font-weight: bold;
  text-align: justify;
  padding-right: 0;
}


}





 @media (min-width: 768px) and (max-width: 1024px) {
 
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 12px;}

    a.agregar-al-carrito_a {
      font-size: 12px;
    }
    /* .single-item-rtl.relacionados {
      width: 50%;
  } */
    p.pide-ahora {
      margin-left: 4px;
    margin-right: 4px;
    }

    .mask-img-prom {
      width: 97%;
    }
  .col-md-6.tu-pedido-en-minutos_col p {
    font-size: 15px;
  }
  h6.text-red,.col-md-2.list-menu-footer.f-b h6 {
    font-size: 20px;
  }
  .col-md-2.list-menu-footer ul {
    font-size: 15px;
  }
  h5.comilandia-titulo-footer,.col-md-3.list-menu-footer.siguenos h6 {
    font-size: 30px;
  }
  .container.cont-inf-banner {
    top: 35%;
  }
  .desc-not h3 {
    font-size: 22px;
  }
  .menu h2::before {
    width: 28%;
    right: 10%;
  }
  .menu h2::after
  {
    left: 10%;
    width: 28%;
  }
  p.pide-ahora {
    margin-right: 50px;
}
  div#contact-section {
    padding-top: 0px;
}
a.navbar-brand {
    width: 40%;
}
.icon-img {

    width: 60%;
  }

  /* .menu h2::after {
 
    left: 25%;
}
.menu h2::before {

    right: 25%; */
}
.card-item {
    width: 32%;
    }
    .logo-footer {

    width: 50%;
}

}
@media (min-width: 768px) and (max-width: 991px){
  .col-md-6.prom-prin {
    display: flex;
    width: 100%;
    height: 440px;
}
p.container-prom-comilandia_p {
  color: #fff;
  font-size: 20px;
}
h3.container-prom-comilandia_h3 {
  color: #fff;
  font-size: 34px;
}
.col-md-6.prom-sec {
  height: 220px;
}
.menu h2::before,.menu h2::after {
  width: 28%;
  right: 10%;
}
.col-md-2.list-menu-footer ul {
  font-size: 15px;
}


.col-md-3.list-menu-footer.siguenos {
  padding-left: 0;
}
  .mask-img-prom {
    width: -webkit-fill-available;
    margin-right: 15px;
}
  .information {
    margin-top: 0%;
  }
  .pt-150{
    padding-top: 20px;
  }
  .form-control.input-registro {
    font-size: 12px;
}
select.form-control.form-explorer-comilandia.comilandia-registro {
  font-size: 12px;
  height: 40px!important;
}
button.res.button {
  margin-top: 10px;
  font-size: 14px;
}
}
@media (min-width: 0px) and (max-width: 768px) {
  .col-md-3.list-menu-footer.siguenos {
    padding-left: 0px;
}
.col-md-3.list-menu-footer.siguenos h6 {
  text-align: center;
}
.list-rs-comilandia-op {
  justify-content: center;
}
  h3.tu-pedido-en-minutos_h3 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  div#login-collapse {
    top: 105px;
    right: 5%;
  }
  .slick-prev {
    left: 84%;
  }
  .div-nav-item {
    display: flex;
    width: 100%;
    justify-content: center;
}
a.nav-link.cont-carrito-span.resp-m {
  margin: 10px;
}
a.nav-link.resp-m {
  margin: 10px;
}
}
@media (min-width: 0px) and (max-width: 767px) {
  img.img-pedido-minutos-col6 {
    display: none;
  }
  .col-md-6.tu-pedido-en-minutos_col {
    padding-bottom: 50px;
    font-size: 15px;
}
  .fondo-tu-pedido-minutos {
    height: 600px;
  }
  .desc-not h3 {
    font-size: 18px;
  }
  .row.cont-prom-img-dest {
    display: none;
}
  .form-control.input-registro {
    font-size: 12px;
}
select.form-control.form-explorer-comilandia.comilandia-registro {
  font-size: 12px;
  height: 40px!important;
}
button.res.button {
  margin-top: 10px;
  font-size: 14px;
}
  .search-comilandia {
    display: none;
  }
  .d-n-c {
    display: flex;
    margin-top: 20px;
  }
  a.search-comilandia-a {
    width: 70px;
  }
  p.pide-ahora {
    margin-left: 0px;
    margin-right: 0px;
  }
  input.search-comilandia-input {
    width: 200px;
  }
  .information {
    margin-top: 0%;
  }
  #section-register .mask{
    display: none;
  }

  #section-login img{
    display: none;
  }

  .pt-150{
    padding-top: 20px;
  }


a.navbar-brand {
    width: 60%;
}

.res{    margin-top: 10%;}


.navbar-expand-lg .navbar-collapse {

    text-align: center;
}


.icons{
  display: block;
      padding-bottom: 50px;
}

.icons-info{
  text-align: center;
  margin-bottom: 10%;
}

.card-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-img img {
     width: 100%;

}

.menu h2 {

    font-size: 25px;
}

.cards-carrusel{
  display: block;
}

.menu h2::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 30%;
    background-color: #dc001a;
    top: 42%;
    bottom: 0;
    right: 0;
    left: 10%;
}

.menu h2::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 30%;
    background-color: #dc001a;
    top: 42%;
    bottom: 0;

    right: 10%;
}
.card-item{
  width: auto;
}

.menu-fav{
  display: block;
}
.fav-1{
  width: auto;
}

.footer{
  display: block;
}

.about-footer{
  width: auto;
      text-align: center;
}
.hours{
  width: auto;
      text-align: center;
}

.hours h6{
  margin-left: 0!important;
}

.info-detail{
  display: block;
}

.info-img img{
      width: 100%;
}
.view-detail{
  width: auto;
  margin-left: 0;
      margin-top: 5%;
}
}
@media (min-width: 0px) and (max-width: 425px) {
  .container.cont-productos.product-home {
    margin-bottom: 0!important;
    margin-top: 0;
}
  .menu h2::before,.menu h2::after {
    width: 18%;
  }
  div#login-collapse {
    top: 310px!important;
    right: 0%!important;
  }
  .col-md-6.cont-op-explorer {
    margin-top: 20px;
}
  .footer {
    background: #1f1f1f;
    padding: 50px 0px;
}
h5.comilandia-titulo-footer {
  text-align: center;
}
  .single-item-rtl.relacionados {
    width: 100%;
}
  .carousel-item {
    height: 55vh;
}
.container.cont-inf-banner {
  top: 0;
}
  p.pide-ahora {
    display: none;
  }
  .col-md-5.col-sm-12footer-cont-c5 p {
    text-align: justify;
}
.col-md-2.list-menu-footer ul {
 
  font-size: 18px;
}
  .col-md-2.col-sm-4.list-menu-footer {
    text-align: center;
}
  h3.tu-pedido-en-minutos_h3 {
    text-align: center;
  }
  .container.cont-productos {
    margin-top: 30px;
    margin-bottom: 120px;
}
  .desc-not h3 {
    font-size: 11px;
}
.col-md-6.prom-prin img {
  /* width: 100%; */
}
.container.container-prom-comilandia {
  margin-top: 0px;
  margin-left: 0;
  padding-left: 0;
}
.slick-prev {
  left: 65%!important;
}
  .container.container-prom-comilandia {
    margin-top: 0px;
  }
  .desc-not h3 {
    margin-bottom: 0!important;
  }
  .col-md-6.tu-pedido-en-minutos_col p {
    font-size: 12px;
  }
button.res.button {
    margin-top: 0px;
    font-size: 10px;
}

div#contact-section h1 {
  color: #fff;
  text-align: start;
  margin-left: 10%;
  font-size: 15px;
}
}